.card {
  border-radius: 10px;
  overflow: hidden;
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  background-color: #1d1e1f;
  color: #c7cacc;
}
.card-bg-custom {
  background-color: gray;
}

.card-body {
  background-color: #dae1e8 !important;
}
.fons-gris_form {
  background-color: #dae1e8 !important;
}
.hotel-body {
  background-color: #dae1e8 !important;
}
textarea {
  resize: none;
}

.custom-mt {
  margin-top: 60px;
}

.img-preview {
  max-width: 100%;
  width: 200px; // o la mida que vulguis
  height: auto;
  object-fit: cover;
  // opcional si vols igualar Bootstrap
}
