<div class="container mt-4">
    <h2 class="mb-5">Gestió de {{adminForm.get('nom_tour')?.value }} </h2>
    <form [formGroup]="adminForm" (ngSubmit)="onSubmit()">
        <!-- Camps de la taula tours -->
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white">
                <h4 class="mb-0">Dades del Tour</h4>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="nom_tour" class="form-label">Nom del Tour:</label>
                    <input type="text" id="nom_tour" formControlName="nom_tour" class="form-control" />
                </div>
                <div class="row d-flex align-items-end">

                    <div class="col-md-9 mb-3 ">
                        <label for="imatge_tour" class="form-label">Imatge del Tour:</label>
                        <input type="file" id="imatge_tour" class="form-control"
                            (change)="onFileSelected($event, 'tour')" />
                    </div>
                    <!-- Previsualització -->
                    <div class="col-md-3">
                        @if (adminForm.get('imatge_tour')?.value) {
                        <img [src]="'http://localhost:3001' + adminForm.get('imatge_tour')?.value" alt="Imatge del Tour"
                            class="img-thumbnail mb-3" style="max-width: 200px;" />
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="data_inici" class="form-label">Data d'Inici:</label>
                        <input type="text" id="data_inici" formControlName="data_inici" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="data_final" class="form-label">Data Final:</label>
                        <input type="text" id="data_final" formControlName="data_final" class="form-control" />
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="password" class="form-label">Contrasenya:</label>
                        <input type="password" id="password" formControlName="password" class="form-control" />
                    </div>
                </div>
            </div>
        </div>


        <!-- Camps de la taula dies -->
        <h3 class="text-center custom-mt mb-4">Gestió dels Dies</h3>
        <div formArrayName="days">
            @for (day of days.controls; track day.value.numero_dia) {
            <div class="card mb-5 shadow-sm">
                <div class="card-header bg-dark text-white">
                    <h4 class="mb-0">Etapa {{ day.value.numero_dia }}</h4>
                </div>
                <div class="card-body">
                    <div [formGroupName]="days.controls.indexOf(day)">
                        <div class="row">
                            <!-- Primera columna -->
                            <div class="col-md-6">
                                <label class="form-label">Número de Dia:</label>
                                <input type="text" formControlName="numero_dia" class="form-control mb-3" />

                                <label class="form-label">Data de l'etapa:</label>
                                <input type="text" formControlName="data_dia" class="form-control mb-3" />

                                <label class="form-label">Títol de l'Etapa:</label>
                                <input type="text" formControlName="titol_etapa" class="form-control mb-3" />

                                <label class="form-label">Imatge de l'Etapa:</label>
                                <input type="file" class="form-control mb-3"
                                    (change)="onFileSelected($event, 'day', days.controls.indexOf(day))" />
                                <!-- Previsualització -->
                                <div>
                                    @if (day.get('imatge_etapa')?.value) {
                                    <img [src]="'http://localhost:3001' + day.get('imatge_etapa')?.value"
                                        alt="Imatge de l'Etapa" class="img-thumbnail mb-3" style="max-width: 200px;" />
                                    }
                                </div>

                            </div>

                            <!-- Segona columna -->
                            <div class="col-md-6">

                                <label class="form-label">Descripció:</label>
                                <textarea formControlName="descripcio" class="form-control mb-3" rows="4"></textarea>

                                <label class="form-label">Coordenades Inici:</label>
                                <input type="text" formControlName="coordenades_inici" class="form-control mb-3" />

                                <label class="form-label">Coordenades Final:</label>
                                <input type="text" formControlName="coordenades_final" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="text-end mt-3">
                        <button type="button" class="btn btn-danger" (click)="deleteDay(days.controls.indexOf(day))">
                            Eliminar Dia
                        </button>
                    </div>
                </div>
            </div>
            }
        </div>

        <!-- Botó per afegir més dies -->
        <div class="text-center">
            <button type="button" class="btn btn-secondary mt-1 mb-4" (click)="addDay()">Afegir Dia</button>
        </div>

        <h3 class="text-center mt-5 mb-4">Gestió d'usuaris</h3>
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-dark text-white">
                <h4 class="mb-0">Llista d'Usuaris</h4>
            </div>
            <div class="card-body">
                <div formArrayName="users">
                    @for (user of users.controls; track user.value.email) {
                    <div [formGroupName]="users.controls.indexOf(user)" class="mb-3">
                        <!-- Label a la part superior -->
                        <label for="email_{{ users.controls.indexOf(user) }}" class="form-label">Email Usuari {{
                            users.controls.indexOf(user) + 1 }}:</label>
                        <!-- Contenidor per a l'input i el botó alineats a la mateixa línia -->
                        <div class="d-flex align-items-center">
                            <!-- Input -->
                            <input type="email" id="email_{{ users.controls.indexOf(user) }}" formControlName="email"
                                class="form-control me-2" />
                            <!-- Botó d'eliminar -->
                            <button type="button" class="btn btn-danger text-nowrap"
                                (click)="deleteUser(users.controls.indexOf(user))">
                                Eliminar Usuari
                            </button>
                        </div>
                    </div>
                    }
                </div>


                <!-- Botó per afegir més usuaris -->
                <button type="button" class="btn btn-secondary mt-3" (click)="addUser()">Afegir Usuari</button>
            </div>
        </div>

        <!-- Botó de Submit -->
        <button type="submit" class="btn btn-danger mt-4 mb-5" [disabled]="!adminForm.valid">
            {{ tourId ? 'Actualitzar Tour' : 'Crear Tour' }}
        </button>
    </form>
</div>