.card {
  border-radius: 10px;
  overflow: hidden;
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  background-color: #1d1e1f;
  color: #c7cacc;
}

.card-body {
  background-color: #dae1e8 !important;
}

textarea {
  resize: none;
}

.custom-mt {
  margin-top: 60px;
}
