<div class="container">
    <h2 class="text-start ms-3 mt-4">Cycling stages</h2>
    <div class="row d-flex justify-content-start">
        @for (dia of tourDays(); track dia.id_dia) {
        <div class="col-md-4 mb-4 card-container">
            <a class="text-decoration-none" [routerLink]="['/detail', dia.id_dia]">
                <div class="card">
                    <img [src]="'http://localhost:3001' + dia.imatge_etapa" class="card-img-top img-fluid"
                        [alt]="'Imatge del dia ' + dia.numero_dia">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <span class="h5 d-flex align-items-center mb-0">
                            <div class="position-relative me-4">
                                <i class="h1 bi bi-calendar bi-lg"></i>
                                <span class="position-absolute top-50 start-50 translate-middle h4">{{ dia.numero_dia
                                    }}</span>
                            </div>
                            <span>{{ dia.titol_etapa }}</span>
                        </span>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>
</div>