<div class="container">
    <h2 class="text-center my-4">Cycling stages</h2>
    <div class="row d-flex justify-content-center">
        <div class="col-md-9 mb-4">
            <div class="card">
                <img src="assets/img_stage.jpg" class="card-img-top img-fluid" alt="Imatge del dia 1">
                <div class="card-body d-flex justify-content-between align-items-center">

                    <span class="h5 d-flex align-items-center"> Day 1 - Rural Plains and Cura Monastery </span>

                    <a href="#" class="btn btn-danger ml-auto custom_boto"> Go!</a>
                </div>
            </div>

            <div class="card">
                <img src="assets/img_stage.jpg" class="card-img-top img-fluid" alt="Imatge del dia 1">
                <div class="card-body d-flex justify-content-between align-items-center">

                    <span class="h5 d-flex align-items-center"> Day 2 - Cap de Formentor & Pollença</span>

                    <a href="#" class="btn btn-danger ml-auto custom_boto"> Go!</a>
                </div>
            </div>

            <div class="card">
                <img src="assets/img_stage.jpg" class="card-img-top img-fluid" alt="Imatge del dia 1">
                <div class="card-body d-flex justify-content-between align-items-center">

                    <span class="h5 d-flex align-items-center"> Day 3 - Lluc Monastery & Serra de Tramuntana</span>

                    <a href="#" class="btn btn-danger ml-auto custom_boto"> Go!</a>
                </div>
            </div>
            <div class="card">
                <img src="assets/img_stage.jpg" class="card-img-top img-fluid" alt="Imatge del dia 1">
                <div class="card-body d-flex justify-content-between align-items-center">

                    <span class="h5 d-flex align-items-center"> Day 4 - Sa Calobra</span>

                    <a href="#" class="btn btn-danger ml-auto custom_boto"> Go!</a>
                </div>
            </div>

            <div class="card">
                <img src="assets/img_stage.jpg" class="card-img-top img-fluid" alt="Imatge del dia 1">
                <div class="card-body d-flex justify-content-between align-items-center">

                    <span class="h5 d-flex align-items-center"> Day 5 - Deia, Valldemossa & Orient</span>

                    <a href="#" class="btn btn-danger ml-auto custom_boto"> Go!</a>
                </div>
            </div>


        </div>
    </div>
</div>