.card {
  margin: 20px;
}

.custom_boto {
  height: 30px;
  line-height: 15px;
}

.card {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.card-container {
  padding: 0 20px; /* Ajusta aquest padding segons l'espai que vulguis */
}
