.card {
  margin: 20px;
  border: 1.5px, solid #c7cacc;
  border-radius: 5px;
  background-color: #303030;
  color: #c7cacc;
}

.custom_boto {
  height: 30px;
  line-height: 15px;
}

.card {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.card-container {
  padding: 0 20px; /* Ajusta aquest padding segons l'espai que vulguis */
}
