<div class="container text-start fade-in">
    @if (selectedTour()) {
    <div class="container text-start my-3">
        <div class="responsive-title">
            <h4 class="d-inline fw-bold">{{ selectedTour()!.nom_tour }}</h4><br>
            <h6 class="d-inline">{{ selectedTour()!.data_inici }} – {{ selectedTour()!.data_final }}</h6>
        </div>
    </div>

    <img [src]="'http://localhost:3001' + selectedTour()?.imatge_tour" class="img-fluid mt-3 mb-4 rounded-1 img_mod"
        alt="Imatge destacada">







    <div class="row mb-4">
        <div class="col-6">
            <button class="btn btn-red btn-lg w-100 rounded-1" type="button" [routerLink]="['/days']">
                Tour stages
            </button>
        </div>
        <div class="col-6">
            <button class="btn btn-red
             btn-lg w-100 rounded-1" type="button" [routerLink]="['/discover']">
                Discover
            </button>
        </div>
    </div>
    }
</div>