<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light mt-2">
        <div class="container-fluid">

            <a class="navbar-brand" [routerLink]="['/home']">
                <img src="assets/bikecat_logo.png" class="logo mb-2">
            </a>

            <!-- Hamburguesa -->
            <button class="navbar-toggler text-bg-light opacity-75" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light text-opacity-75 fs-6" [routerLink]="['/days']">CYCLING STAGES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light text-opacity-75 fs-6" [routerLink]="['/discover']">DISCOVER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light text-opacity-75 fs-6" href="#">CONTACT</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>