<div class="container custom-login ">
    <div class="row justify-content-center">
        <div class="col img_mod rounded-3 p-5">
            <!-- <img src="assets/bikecat_logo.png" class="custom-logo mb-5"> -->
            <h4>
                <p>Call at: +34 639 829 272</p>

            </h4>
            <a href="tel:+34639829272" class="btn btn-danger"><i class="bi bi-phone"></i> Call now<i
                    class="bi bi-arrow-right ms-2"></i></a>
            <div class="white-line mt-4"></div>

            <h4>
                <p class="mt-4">Mail at: info&#64;bikecat.com</p>

            </h4>
            <a href="mailto:info@bikecat.com" class="btn btn-danger"><i class="bi bi-envelope-at me-1"></i> Mail now<i
                    class="bi bi-arrow-right ms-2"></i></a>
            <div class="white-line mt-4"></div>

            <h4>
                <p class="mt-4">Via WhatsApp</p>

            </h4>
            <a href="https://wa.me/34639829272?text=Hola,%20estic%20interessat%20en%20els%20vostres%20serveis!"
                target="_blank" class=" btn btn-success">
                <i class="bi bi-whatsapp me-1"></i> Contact via WhatsApp
            </a>

        </div>
    </div>
</div>