.custom-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 480px;
  width: 100vw;
}

.img_mod {
  background-color: #1d1e1f;
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
  background: linear-gradient(
    135deg,
    rgba(20, 20, 20, 1) 25%,
    transparent 25%,
    transparent 50%,
    rgba(20, 20, 20, 1) 50%,
    rgba(30, 30, 30, 1) 75%,
    transparent 75%,
    transparent
  );
  background-size: 7px 7px;
  border-radius: 10px;
  padding: 20px;
}

.white-line {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px 0;
}

.section-heading {
  padding: 10px;
  margin-top: 1rem;
  margin-bottom: 30px;
}

.section-title-bar {
  display: flex;
  align-items: center;
  gap: 0; // cap espai entre els spans
}

.bikecat-title {
  font-weight: bold;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.808);
  margin-right: 0;
}

.section-name {
  font-weight: normal;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.808);
  margin-right: 1rem;
}

.section-bar-fill {
  height: 0.8rem;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8) 20%,
    rgba(150, 150, 150, 0.7) 50%,
    rgba(80, 80, 80, 0.6) 75%,
    rgba(50, 50, 50, 0.5) 90%,
    #1d1e1f 98%
  );
  flex-grow: 1;
  border-radius: 0.25rem;
}

.section-heading {
  align-items: stretch !important;
  width: 100%;
}
.btn-custom {
  font-weight: 600;
}
