// :host {
//   display: block;
//   background-color: black; /* El color que vols aplicar */
//   min-height: 100vh; /* Fes que el component cobreixi tota l'alçada de la pàgina */
// }

.custom-login {
  display: flex;
  flex-direction: column; /* Assegura que el contingut s'organitzi verticalment */
  align-items: center;
  justify-content: center; /* Centra el contingut verticalment */
  min-height: 480px; /* Ocupa tota l'alçada */
  width: 100vw; /* Ocupa tota l'amplada */
}

.img_mod {
  background-color: #1d1e1f;
  //border: 1px, solid #c7cacc;
  // box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

// .container {
//   background-color: black;
// }

.white-line {
  width: 100%;
  height: 1px;
  background-color: white;
  margin: 10px 0;
}
