.custom_btn {
  width: 110px;
}
.img_mod {
  border: 1.2px, solid #c7cacc;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}
.redtext {
  color: #d93536;
}
.custom-text {
  white-space: pre-line;
}

/* --------------------------- */
.fade-in {
  opacity: 0;
  animation: fadeIn 1.2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* --------------------------- */
