<div class="container mt-4">
    <div class="container mt-4">
        @if (selectedDay()) {
        <h3 class="d-inline text-start">{{ selectedDay()!.titol_etapa }}</h3>
        <img [src]="'assets/list-days/' + selectedDay()!.imatge_etapa" class="img-fluid mt-3 mb-5 w-100 rounded-1"
            [alt]="selectedDay()!.titol_etapa">
        <h3 class="d-inline text-start">Day {{selectedDay()!.id_dia}} </h3> | <h5 class="d-inline text-start">
            {{selectedDay()!.data_dia}}</h5>

        <p class="mt-4">{{ selectedDay()!.descripcio }}</p>
        }
    </div>




    <!-- MAPBOX -->
    <div class="row mt-5">
        <div class="col-md-6">
            <div id="map" style="height: 320px;" class="mb-4 rounded-1"></div>
        </div>
        <div class="col-md-6">
            @if(routes.length > 1){
            <div class="d-flex justify-content-around mb-4">
                @for (route of routes; track route.name) {
                <button (click)="onRouteSelect(route)" class="btn custom_btn"
                    [ngStyle]="{'background-color': route.color, 'color': '#fff'}">
                    {{ route.name }}
                </button>
                }
            </div>
            }
            <canvas id="elevationChart" class="mb-4"></canvas>
        </div>
    </div>
</div>