<div class="container mt-4">
    <div class="container mt-4">
        @if (selectedDay()) {
        <h2 class="d-inline text-start">{{ selectedDay()!.titol_etapa }}</h2>
        <img [src]="'http://localhost:3001' + selectedDay()!.imatge_etapa" class="img-fluid mt-3 mb-5 w-100 rounded-1"
            [alt]="selectedDay()!.titol_etapa">
        <h3 class="d-inline text-start">Day {{selectedDay()!.numero_dia}} </h3> | <h5
            class="d-inline text-start redtext">
            {{selectedDay()!.data_dia}}</h5>

        <p class="mt-4 custom-text">{{ selectedDay()!.descripcio }}</p>

        @if (reliveSafeUrl) {
        <div class="embed-responsive mt-4 fade-in"
            style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
            <iframe [src]="reliveSafeUrl" frameborder="0" scrolling="no" allowfullscreen
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
            </iframe>
        </div>
        }
        <div class="mt-5 fade-in">
            <h4>Elevation profile</h4>
        </div>

        @if (selectedDay()?.elevationImage) {
        <div class="text-center fade-in">
            <img [src]="'http://localhost:3001' + selectedDay()!.elevationImage" alt="Perfil d'altitud"
                class="img-fluid rounded shadow mt-0" style="max-width: 100%;" />
        </div>
        }


        }
    </div>




    <!-- MAPBOX -->
    <div class="row mt-5">
        <div class="col-md-6">
            <div id="map" style="height: 320px;" class="mb-4 rounded-1"></div>
        </div>
        <div class="col-md-6">
            @if(routes.length > 1){
            <div class="d-flex justify-content-around mb-4">
                @for (route of routes; track route.name) {
                <button (click)="onRouteSelect(route)" class="btn custom_btn"
                    [ngStyle]="{'background-color': route.color, 'color': '#fff'}">
                    {{ route.name }}
                </button>
                }
            </div>
            }
            <canvas id="elevationChart" class="mb-4"></canvas>
        </div>
    </div>
</div>