.redtext {
  font-weight: Semi-bold;
}

/* .img_mod {
    border: 1.2px solid #c7cacc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  } per les imatges */

.section-divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.clamp-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.btn-red {
  background-color: #d93536 !important;
  color: white;
}
.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out; // Per al plegat
}

.accordion-content.expanded {
  max-height: 2000px;
  transition: max-height 1s ease-in-out; // Per al desplegat
}
