.redtext {
  font-weight: Semi-bold;
}

/* .img_mod {
    border: 1.2px solid #c7cacc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  } per les imatges */

.section-divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.clamp-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5rem; // forçat per millorar compatibilitat
  max-height: 7.2em; // mateixa alçada per garantir el tall
}

.readmore-wrapper {
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  max-height: 7.2em; //distància de les 6 linies
}
.readmore-wrapper p {
  white-space: pre-line;
  line-height: 1.5rem;
}

.readmore-wrapper.expanded {
  max-height: 1000px;
  transition: max-height 0.6s ease-in-out;
}

.btn-red {
  background-color: #d93536 !important;
  color: white;
}
.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out; // Per al plegat
}

.accordion-content.expanded {
  max-height: 2000px;
  transition: max-height 1s ease-in-out; // Per al desplegat
}
